# Frontend
js/fn.giwu/node_modules/
js/fn.giwu/dist/
js/fn.giwu/.env

# Backend
php/api.giwu/vendor/
php/api.giwu/.env
php/api.giwu/storage/logs/
php/api.giwu/storage/framework/cache/
php/api.giwu/storage/framework/sessions/
php/api.giwu/storage/framework/views/
php/api.giwu/bootstrap/cache/
